.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 160px;
}
.cart-container{
    background-color: rgb(194, 245, 245);
}