.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 0 20px;
    transition: .5s;
}
.header a:hover{
    color: aqua;
}